<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Student :: ADD</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>
    </head>

    <!--//unordered list-->
    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" th:each="student: ${students}" th:text="${student.name}"></li>-->
    <!--</ul>-->

    <!--//just student details-->
    <!--<p class="display-3">Student : <span th:text="${student.name}"></span></p>-->
    <!--<p class="display-3">With e-mail : <span th:text="${student.email}"></span></p>-->
    <!--<p class="display-3">Was assigned to : <span th:text="${student.course.courseName}"></span></p>-->

    <!--//table-->
    <body>
        <div class="jumbotron">
            <h1 class="display-3">Manage Students : </h1>
            <hr class="my-4"/>

            <form action="#" th:action="@{/students/modify}" method="get">
                <div class="form-group">
                    <label for="students">Delete student : </label>
                    <select class="form-control" name="id" id="students">
                        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}">No student</option>
                    </select>
                    <br/>
                    <button type="submit" class="btn btn-primary" name="modify" value="delete">Delete</button>
                    <button type="submit" class="btn btn-primary" name="modify" value="edit">Edit</button>

                </div>
            </form>

            <hr class="my-4"/>

            <br/>

            <div class="container">
                <h2>Students list</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student: ${students}">
                            <td th:text="${student.id}"></td>
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.email}"></td>
                            <td th:text="${student.course.courseName}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>